body {
    text-align: center;
    background-color: snow;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color:teal;
    font-size: 60px;
    font-weight: lighter;
    font-style: oblique;
}

a {
    color:red;
    font-size: 20px;
    transition: background-color .5s;
  }

a:hover {
    background-color: rgb(225, 245, 234);
    font-size: large;
}

.hidden {
    display: none;
}

.car-container {
    background-color: #0A1931;
    color:white;
    font-family: sans-serif;
    font-size: 20px;
    border: 4mm ridge;
    padding: 20px;
    margin: 10px 200px 20px;
}

.form-control {
    margin: auto;
    width: 200px;
}

.car-img {
    width: 200px;
}

.edit-form {
    background-color: snow;
    margin-top: 20px;
    padding: 30px 20px 20px;
    box-shadow: 10px 5px 5px rgb(221, 114, 132);
}

#car-form {
    background-color: snow;
    padding: 30px 20px 20px;
    box-shadow: 10px 5px 5px rgb(221, 114, 132);
}

#cars-form-container {
    color:saddlebrown;
    font-family: sans-serif;
    font-size: 20px;
    background-color: powderblue;
    font-size: 20px;
    border: 4mm ridge;
    padding: 20px;
    margin: 10px 200px 20px;
}
